<div>
    <label>name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
</div>
<h2>{{hero.name}}</h2>
<div><span>id:</span> {{hero.id}}</div>
<div><span>name:</span> {{hero.name | uppercase}}</div>